* {
    box-sizing: border-box;
    font-family: 'Oswald';
    margin: 0;
    padding: 0;
} 



html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
    justify-content: center;
}

body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

header {
            background-color: #000227;
        box-shadow: 0px 4px 10px rgb(39 103 213 / 62%);
}

    body > main > section.flex.items-center.justify-center.text-center.h-screen > div{              
        
        color: #000000 !important;
    }


  /*desktop*/

  
  @media screen and (min-width: 784px) {
    * {
        box-sizing: border-box;
        font-family: 'Oswald';
        margin: 0;
        padding: 0;
    }

    body > main > section.flex.items-center.justify-center.text-center.h-screen > div {
        font-size: 4rem;
        text-transform: uppercase;
        left: 23rem;
        color: #525253;
    }
    #menu {
        display: none;
    }
 
        section#inicial {
        display: flex;
        max-width: 100%;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        left: 0;
        margin-left: 0rem;
        right: 0;
        margin-right: 40rem;
        margin-top: 0rem;
    }

    /*titulo*/
    section.flex.items-center.justify-center.text-center.h-screen {
        display: flex;
        position: absolute;
        bottom: 23rem;
        justify-content: center;
        left: 0rem;
        width: 100%;
        max-width: 100%;
        height: 16%;
    }
    body {
        max-width: 1400px;
        margin: 0 auto;
    }

    .name {
        position: relative;
        left: -9rem;
        color: #010695;
    }

    /* Ajuste do header */
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        position: fixed;
        z-index: 10;
    }
    
 nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        margin-bottom: -4rem;
    }
    nav ul {
        display: flex;
        gap: 10rem;
        cursor: pointer;
        list-style: none;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    nav ul a {
        text-transform: uppercase;
        font-size: 20px;
        text-decoration: none;
        color: #ffffff;
    }


    nav ul a:hover{
        color: #ebebeb;
        font-weight: bolder;
        transition: 05s;

    }

    .button-50:active {
        box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
        outline: 0;
      }
      
      .button-50:not([disabled]):active {
        box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
        transform: translate(2px, 2px);
      }
      
    body > main > div.button-1 {
    position: relative;
    margin-top: -8rem;
    margin-right: 0rem;
    margin-left: 0rem;
}

.button-2 {
    position: relative;
    margin-left: 0rem;
    margin-right: 0rem;
}


    button.button-51 {
        padding: 12px 50px;
      }
  
  
      button.button-51 {
        appearance: button;
        background-color: #000;
        background-image: none;
        border: 1px solid #000;
        border-radius: 30px;
        box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: 'Oswald';
        font-size: 24px;
        font-weight: 400;
        line-height: 20px;
        margin: 0 5px 10px 0;
        overflow: visible;
        padding: 12px 40px;
        text-align: center;
        text-transform: uppercase;
        touch-action: manipulation;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        bottom: 15%;
        position: absolute;
        left: 37rem;
    }

            .button-50:hover,
            .button-51:hover{
                background-color: #fff;
                color: #000;
            }
      .button-50 {
          padding: 12px 50px;
        }
        .button-50 {
            appearance: button;
            background-color: #000;
            background-image: none;
            border: 1px solid #000;
            border-radius: 30px;
            box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-family: 'Oswald';
            font-size: 22px;
            font-weight: 400;
            line-height: 20px;
            margin: 0 5px 10px 0;
            overflow: visible;
            padding: 12px 40px;
            text-align: center;
            text-transform: uppercase;
            touch-action: manipulation;
            user-select: none;
            -webkit-user-select: none;
            vertical-align: middle;
            white-space: nowrap;
            bottom: 15%;
            position: absolute;
            left: 24rem;
        }
  
    
    
    .typing {
        font-family: 'Courier New', Courier, monospace;
        overflow: hidden;
        border-right: 4px solid black;
        white-space: nowrap;
        width: 100%;
        animation: typing 4s steps(40) 1s forwards, blink 0.75s step-end infinite;
        position: relative;
        font-size: 30px;
        text-align: center;
        top: -15rem;
    }

   
    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 50%;
        }
    }
    
    @keyframes blink {
        50% {
            border-color: transparent; /* Faz o cursor piscar */
        }
    }

        body > header > img {
            width: 4.5rem;
            border-radius: 101px;
            left: 1%;
            position: relative;
            bottom: -4px;

        }
        .menu-btn {
            cursor: pointer;
            display: none;
        }
        li:hover {
            color: #010695;
        }
        li {
            font-size: 17px;
            font-weight: 600;
        }

        i.devicon-linkedin-plain {
            display: none;
        }
        #menu > img{
            display: none;
        }
        .close-btn{
            display: none;
        }  

/*aba about*/
section#about-me {
    margin-top: 10rem;
    justify-content: center;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    height: 50vh;
}
#about-me > h2 {
    font-size: 2rem;
}

#about-me > div > div > p.subtitle {
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 4rem;
}
#about-me > div > div > p.about {
    margin-top: 3rem;
    font-size: 22px;
    text-align: start;
    padding: 60px;
    margin-right: 2rem;
    margin-left: 2rem;
    border: 1px solid #ffffff;
    border-radius: 60px;
    box-shadow: 0 4px 10px rgb(0 0 0);
    transition: transform 0.3s ease;
}

#about-me > div > div > p.about:hover {
    color: #fff;
    background-color: #000;
    transform: scale(1.1);
}

.about-button {
    margin-top: 5rem;
    gap:2rem;
    display: inline-flex;
}
    #about-me > div > div > div > a > img {
        width: 6rem;
        transition: transform 0.3s ease;
    }
#about-me > div > div > div > a > img:hover {
    transform: scale(1.2);
}
/*aba about*/

/*xp aba*/
section#xp {
    margin-top: 10rem;
    justify-content: center;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    height: 50vh;
}
#xp > h2 {
    font-size: 2rem;
}

#xp > div > div > p.subtitle {
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 4rem;
}
#xp > div > div > p.xp {
    margin-top: 3rem;
    font-size: 22px;
    text-align: start;
    padding: 60px;
    margin-right: 2rem;
    margin-left: 2rem;
    border: 1px solid #ffffff;
    border-radius: 60px;
    box-shadow: 0 4px 10px rgb(0 0 0);
    transition: transform 0.3s ease;
}

#xp > div > div > p.xp:hover {
    color: #fff;
    background-color: #000;
    transform: scale(1.1);
}

.xp-button {
    margin-top: 5rem;
    gap:2rem;
    display: inline-flex;
}
    #xp > div > div > div > a > img {
        width: 6rem;
        transition: transform 0.3s ease;
    }
#xp > div > div > div > a > img:hover {
    transform: scale(1.2);
}

#xp > div > div > p:nth-child(2){
        margin-top: 3rem;
    font-size: 22px;
    text-align: start;
    padding: 60px;
    margin-right: 2rem;
    margin-left: 2rem;
    border: 1px solid #ffffff;
    border-radius: 60px;
    box-shadow: 0 4px 10px rgb(0 0 0);
    transition: transform 0.3s ease;
}
#xp > div > div > p:nth-child(2):hover{
 color: #fff;
    background-color: #000;
    transform: scale(1.1);
}

#xp > div > div > p:nth-child(3){
      margin-top: 6rem;
    font-size: 22px;
    text-align: start;
    padding: 60px;
    margin-right: 2rem;
    margin-left: 2rem;
    border: 1px solid #ffffff;
    border-radius: 60px;
    box-shadow: 0 4px 10px rgb(0 0 0);
    transition: transform 0.3s ease;
}

#xp > div > div > p:nth-child(3):hover{
 color: #fff;
    background-color: #000;
    transform: scale(1.1);
}
/*xp aba*/

/*skills aba*/
section#Skills {
    margin-top: 10rem;
    justify-content: center;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
}

h2.text-3xl.font-light.text-zinc-800.underline.hover\:text-blue-800.uppercase {
    font-size: 2rem;
    text-transform: uppercase;
}

p.text-zinc-600.mt-4.text-sm.md\:text-base {
    font-size: 2rem;
    margin-top: 4rem;
    text-transform: uppercase;
}

.tecnologias.flex.flex-wrap.justify-center.gap-6.mt-6.text-5xl.aos-init.aos-animate {
    margin-top: 4rem;
}

.mt-10.text-left {
    margin-top: 6rem;
}
h3.text-lg.font-semibold.text-zinc-700.mb-2 {
    font-size: 2rem;
    text-transform: uppercase;
}

#Skills > div.mt-10.text-left > ul {
    color: #000000;
    display: inline-grid;
    gap: 1rem;
    margin-top: 4rem;
    border: 1px solid #ffffff;
    list-style-type: none;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgb(0 0 0);
    transition: transform 0.3s ease;
}

#Skills > div.mt-10.text-left > ul:hover {
    color: #fff;
    background-color: #000;
    transform: scale(1.1);
}
    li {
        font-size: 25px;
        font-weight: 600;
        text-align: start;
    }
/*skills aba*/




          section#Projetos {
        position: relative;
        top: 10rem;
    }

        .projeto-card {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background-color: white;
            border-radius: 12px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
          }
          
          .projeto-img {
            width: 100%;
            height: auto;
            max-width: 300px; 
            border-radius: 12px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
          }
          
          .projeto-img:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          }



          
          #skills{
            display: grid;
            height: 88vh;
            position: relative;
            top: 30rem;
            width: 100%;
            max-width: 100%;
            align-items: center;

          }
        
          .tecnologias [class^="devicon-"] {
            color: #000;
            font-size: 5rem;
            transition: transform 0.3s ease, color 0.3s ease;
            display: inline-block;
            gap: 30px;
            column-count: 2;
            padding: 7px 17px;
        }
        
          
          .tecnologias [class^="devicon-"]:hover {
            color: #010695;
            transform: translateY(-6px);
          }
          
        }          

/*mobile*/
@media screen and (min-width: 320px) and (max-width: 783px) {

        .projeto-card {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background-color: white;
            border-radius: 12px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
          }
          
          .projeto-img {
            width: 100%;
            height: auto;
            max-width: 300px; /* ou 100% se preferir */
            border-radius: 12px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
          }
          
          .projeto-img:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          }
    
          /* Lista de experiências */
          ul.list-disc.list-inside.space-y-2 {
            margin-top: 1.5rem;
            padding-left: 1rem;
          }
          
            ul li {
        font-size: 1.125rem;
        color: #ffffff;
    }
   
 
          section#Projetos {
        position: relative;
        top: 20rem;
    }

    img.projeto-img {
    width: 159%;
    position: relative;
    display: block;
}
        .space-y-10 {
        display: grid;
        height: 88vh;
        top: -56rem;
        position: relative;
        /* width: 100%; */
        max-width: 100%;
        align-items: center;
    }

 /*foto iago*/
 body > header > img {
    height: 87px;
    border-radius: 50px;
    position: relative;
    left: 37%;
    bottom: -4px;
}

/*linha header*/
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        box-shadow: 0px 4px 10px rgb(5 44 113 / 73%);
        max-width: 1511px;
        width: 100vw;
        margin: 0 auto;
        position: fixed;
        z-index: 10;
    }

nav {
    display: none;
}
nav ul {
    display: flex;
    gap: 30px;
}

nav ul a {
    font-size: 17px;
    text-decoration: none;
    color: #000;
}

nav ul a:hover{
    color: #010695;

}

section#inicial {
        display: flex;
        max-width: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 23rem;
    }


body > main > section.flex.items-center.justify-center.text-center.h-screen > div {
    font-size: 2rem;
    text-transform: uppercase;
    color: #525253;
}

          h2.text-3xl.font-light.text-zinc-800:active {
            color: #010695;
          }
          
          /* Parágrafo dentro das sections */

.typing {
        margin-top: -14rem;
        font-family: 'Courier New', Courier, monospace;
        border-right: 4px solid black;
        white-space: nowrap;
        width: 92% !important;
        animation: typing 4s steps(40) 1s forwards, blink 0.75s step-end infinite;
        text-align: center;
        position: relative;
        font-size: 16px;
        display: flex;
    }


@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 80%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent; /* Faz o cursor piscar */
    }
}


button.button-51 {
    padding: 12px 50px;
  }

.button-2 {
    position: relative;
    margin-top: 5rem;
}
      button.button-51 {
        appearance: button;
        background-color: #000;
        background-image: none;
        border: 1px solid #000;
        border-radius: 30px;
        box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: 'Oswald';
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        margin: 0 5px 203px -45px;
        overflow: visible;
        padding: 12px 22px;
        text-align: center;
        text-transform: uppercase;
        touch-action: manipulation;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        bottom: -18%;
        position: absolute;
        left: 16rem;
    }

        .button-50:active,
        .button-51:active{
            background-color: #fff;
            color: #000;
        }

 .button-1 {
    position: relative;
    margin-top: 20rem;
}


  .button-50 {
      padding: 12px 50px;
    }
       .button-50 {
        appearance: button;
        background-color: #000;
        background-image: none;
        border: 1px solid #000;
        border-radius: 30px;
        box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: 'Oswald';
        font-size: 22px;
        font-weight: 400;
        line-height: 20px;
        margin: 0 5px 202px 0;
        overflow: visible;
        padding: 12px 22px;
        text-align: center;
        text-transform: uppercase;
        touch-action: manipulation;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        bottom: -18%;
        position: absolute;
    }

    
    i.devicon-linkedin-plain {
        display: block;
    }


 /*menu mobile*/


    #menu > img {
        display: block;
    }


#menu > a:nth-child(2) > img {
    width: 3rem;
}

    #menu > a:nth-child(2) {
    margin-top: 30rem;
    position: absolute;
    margin-left: 7rem;
}
#menu > a:nth-child(3) {
    position: absolute;
    margin-top: 30rem;
    margin-right: 7rem;
}    
#menu > a:nth-child(3) > img {
    width: 3rem;
}
       .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000227;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 10;
    }

.menu.active {
    transform: translateX(0); /* Menu entra na tela quando ativo */
}

    .menu a {
        color: #ffffff;
        text-decoration: none;
        font-size: 2rem;
        padding: 15px;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
    }


    .close-btn {
        font-size: 3rem;
        color: #ffffff;
        position: absolute;
        cursor: pointer;
        top: 1rem;
        z-index: 1;
        right: 1rem;
    }
    header nav ul {
        display: none; /* Esconde o menu tradicional */
    }

       header .menu-btn {
        display: block;
        color: #fff;
    }

    
    /*menu mobile*/
    
     
   .name {
        position: relative;
        color: #010695;
    }

        section.flex.items-center.justify-center.text-center.h-screen {
        display: flex;
        position: relative;
        margin-top: -2rem;
        justify-content: center;
        width: 100%;
        max-width: 100%;
        height: 16%;
    }
    /*section about*/

    section#about-me {
    margin-top: 10rem;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}
p.subtitle {
    text-transform: uppercase;
    margin: 2rem;
}

p.about {
    text-align: start;
    margin: 3rem 1rem;
    border: 1px solid #fff;
    border-radius: 60px;
    box-shadow: 0 4px 10px rgb(0 0 0);
    padding: 30px;
}

.about-button {
    display: inline-flex;
    gap: 3rem;
    margin: 3rem;
}

#about-me > div > div > div > a:nth-child(1) > img {
    width: 3rem;
       transition: transform 0.3s ease;
}

#about-me > div > div > div > a:nth-child(2) > img {
    width: 3rem;
       transition: transform 0.3s ease;
}

#about-me a:nth-child(2) > img:active,
#about-me > a:nth-child(1) > img:active{
  transform: scale(1.1);
}
   /*section about*/

/*section xp*/
section#xp {
    margin-top: 10rem;
    justify-content: center;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    height: 50vh;
}
#xp > h2 {
    font-size: 2rem;
}

#xp > div > div > p.subtitle {
    text-transform: uppercase;
}
#xp > div > div > p.xp {
    margin-top: 3rem;
    font-size: 22px;
    text-align: start;
    padding: 60px;
    margin-right: 2rem;
    margin-left: 2rem;
    border: 1px solid #ffffff;
    border-radius: 60px;
    box-shadow: 0 4px 10px rgb(0 0 0);
    transition: transform 0.3s ease;
}

#xp > div > div > p.xp:active {
    color: #fff;
    background-color: #000;
    transform: scale(1.1);
}

    .xp-button {
        gap: 2rem;
        display: inline-flex;
        margin: 3rem;
    }

 #xp > div > div > div > a > img {
        width: 3rem;
        transition: transform 0.3s ease;
    }
#xp > div > div > div > a > img:active {
    transform: scale(1.2);
}

    #xp > div > div > p:nth-child(2) {
        font-size: 16px;
        margin: 5px 0px 3rem;
        text-align: start;
        padding: 60px;
        border: 1px solid #ffffff;
        border-radius: 60px;
        box-shadow: 0 4px 10px rgb(0 0 0);
        transition: transform 0.3s ease;
    }



#xp > div > div > p:nth-child(2):active{
 color: #fff;
    background-color: #000;
    transform: scale(1.1);
}

    #xp > div > div > p:nth-child(3) {
        margin: 5px;
        font-size: 16px;
        text-align: start;
        padding: 60px;
        border: 1px solid #ffffff;
        border-radius: 60px;
        box-shadow: 0 4px 10px rgb(0 0 0);
        transition: transform 0.3s ease;
    }

#xp > div > div > p:nth-child(3):active{
 color: #fff;
    background-color: #000;
    transform: scale(1.1);
}

/*section xp*/


/*skills aba*/
section#Skills {
    margin-top: 10rem;
    justify-content: center;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
}

    h2.text-3xl.font-light.text-zinc-800.underline.hover\:text-blue-800.uppercase {
        font-size: 2rem;
        text-transform: uppercase;
    }
    p.text-zinc-600.mt-4.text-sm.md\:text-base {
        font-size: 1rem;
        text-transform: uppercase;
        margin: 1rem 4rem;
    }

.tecnologias.flex.flex-wrap.justify-center.gap-6.mt-6.text-5xl.aos-init.aos-animate {
    margin-top: 4rem;
}

.mt-10.text-left {
    margin-top: 6rem;
}
h3.text-lg.font-semibold.text-zinc-700.mb-2 {
    font-size: 2rem;
    text-transform: uppercase;
}
    .tecnologias [class^="devicon-"] {
        color: #000;
        font-size: 4rem;
        transition: transform 0.3s ease, color 0.3s ease;
        display: inline;
        gap: 3rem;
        padding: 1px 30px;
        position: relative;
        width: 50%;
    }
    #Skills > div.mt-10.text-left > ul {
        background-color: #000000;
        display: inline-grid;
        gap: 1rem;
        margin-top: 4rem;
        border: 1px solid #ffffff;
        list-style-type: none;
        padding: 40px;
        border-radius: 40px;
        box-shadow: 0 4px 10px rgb(0 0 0);
        transition: transform 0.3s ease;
    }

    li {
        font-size: 25px;
        font-weight: 600;
        text-align: start;
    }
/*skills aba*/


}
